.COTL,
.COTR,
.COBL,
.COBR {
  width: 10px;
  height: 10px;
  z-index: 2;
  background: transparent url(/Css/images/sprites/HPbgOverlayCorners.png);
  position: absolute;
}
.COTL {
  background-position: 0 0;
  top: 0px;
  left: 0px;
}
.COTR {
  background-position: -10px 0;
  top: 0px;
  left: 950px;
}
.COBL {
  background-position: 0 -10px;
  top: 443px;
  left: 0px;
}
.COBR {
  background-position: -10px -10px;
  top: 443px;
  left: 950px;
}
#NF {
  position: relative;
  background: none;
}
#NFLoading,
.NFShow {
  width: 100%;
  /*height: 460px; */
  /* display: none; */
}
#NFLoading {
  text-align: center;
  display: block;
  padding-top: 180px;
  height: 120px;
  font-size: 15px;
  color: White;
}
#NFArrow {
  position: absolute;
  top: 430px;
  left: 0px;
  width: 76px;
  height: 55px;
  background: transparent url(/HomePage/assets/DownLoading.png);
}
.NFMenu {
  position: absolute;
  top: 490px;
  width: 960px;
  height: 130px;
  overflow: hidden;
}
.NFMenuDESIGN {
  top: 0px;
  width: 300px;
  height: 600px;
}
.NFMenuDESIGN .NFM {
  position: relative;
  float: left;
  height: 60px;
  width: 290px;
}
.NFMenuDESIGN .NFM img {
  position: relative;
  float: left;
  height: 50px;
  width: 100px;
}
.NFM {
  width: 200px;
  height: 90px;
  background: transparent;
  cursor: pointer;
  display: block;
  float: left;
  margin: 19px;
  margin-top: 0;
}
.NFM img {
  width: 100%;
  height: 100%;
}
/* Grid Styles */
.d305,
.d305top,
.d305bottom {
  width: 285px;
  padding: 0 10px 0 10px;
}
.d305top {
  background: transparent url(/HomePage/assets/305top.png) no-repeat;
  height: 10px;
}
.d305bottom {
  background: transparent url(/HomePage/assets/305bottom.png) no-repeat;
  height: 10px;
}
.d305 {
  background: white;
  width: 285px;
  height: 290px;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}
.w305 {
  width: 305px;
  float: left;
}
.w305M {
  padding: 0 21px 0 21px;
  background: none;
}
.w305 h2 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.homepageEventsList {
  height: 220px;
  overflow: hidden;
  position: relative;
  font-size: 12px;
}
.homepageEventsList ol {
  position: absolute;
  top: 0px;
}
.homepageEventsList .sf_eventsList li {
  height: 60px;
  overflow: hidden;
  position: relative;
  padding-left: 60px;
  margin: 0;
  margin-bottom: 15px;
}
.homepageEventsList .sf_eventsList img {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.homepageEventsList .sf_eventsList .sf_eventTitle {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.homepageEventsList .sf_eventsList .sf_eventLocation {
  display: none;
}
.facebookFeedItem {
  margin-bottom: 10px;
}
.facebookFeedItem a {
  font-weight: bold;
  font-size: 12px;
}
.fbl {
  color: #55f;
}
.fbl:HOVER {
  color: #77f;
}
.btn305 {
  position: absolute;
  top: 260px;
  left: 10px;
}
.FooterSections a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
.FooterSections h1 {
  font-size: 19px;
  font-weight: bold;
}
.FooterSections h2 {
  font-size: 16px;
}
.disclaimer {
  margin: auto;
  width: 940px;
  color: #999;
  font-size: 10px;
}
.hideForNoscript {
  display: none;
}
.showForNoscript {
  display: block;
}
.DontFade {
  display: none;
}
